.video-container {
  position: relative;
}

video {
  max-width: 100%;
}

.res-1080p {
  width: 1920px;
  height: 1080px;
}

.res-720p {
  width: 1280px;
  height: 720px;
}

.res-640p {
  width: 1138px;
  height: 640px;
}

.res-360p {
  width: 640px;
  height: 360px;
}

h2 {
  margin-top: 0;
  text-align: center;
}

main p {
  text-align: center;
}

.choices {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  color: white;
}

.video-container {
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.choices[hidden] {
  display: none;
}

.choices ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  width: 29%;
}

.container {
  width: 100%;
  top: 5%;
  position: relative;
  height: 60%;
}

.choices li {
  /*position: relative;
  top: 40%;*/
  display: inline-block;
}

.choices li:first-child {
  margin-right: 1em;
}

.choice {
  color: white;
  text-decoration: none;
  padding: 1em;
  border-radius: 3em;
  display: block;
  width: 80px;
  position: absolute;
}

#choice-1a,
#choice-1b {
  color: transparent;
  background: transparent;
  top: 50%;
}

#choice-1a {
  left: 20%;
  width: 25%;
  height: 57%;
  color: hsla(0, 0%, 0%, 0);
  background: hsla(0, 0%, 0%, 0);
}

#choice-1b {
  position: absolute;
  left: 55%;
  width: 25%;
  height: 60%;
}

#choice-2a {
  width: 100%;
  top: 90%;
  left: 0;
  font-size: 5vw;
  text-align: center;
}