@font-face {
    font-family: 'Courier Prime Code';
    src: local('CourierPrimeCode-Regular'),
        url('subset-CourierPrimeCode-Regular.woff2') format('woff2'),
        url('subset-CourierPrimeCode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Courier Prime Code';
    src: local('Courier Prime Code Italic'), local('CourierPrimeCode-Italic'),
        url('subset-CourierPrimeCode-Italic.woff2') format('woff2'),
        url('subset-CourierPrimeCode-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

